th,
table, td {
    background-color: black;
    color: blueviolet;
  border: 3px solid rgba(0, 0, 0, 0.637);
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  max-width: 75%;
  padding: 15px;
  text-align: center;
  vertical-align: center;
  text-wrap: wrap;
}
.center {
  width: 75%;
  margin: auto;
  padding: 15px;
}